@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
#app {
  font-family: 'Inter', system-ui, sans-serif; /* And on app container */
}
.login-container {
  width: 500px;
  height: 400px;
}
.med-text {
  font-weight: 500;
  font-size: 14px;
  font-style: medium;
  line-height: 140%;
  letter-spacing: 0px;
}
.text-primary {
  color: var(--p-primary-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}